@use '../custom' as *;

//style
#info1{
    margin-top: 4.2rem;
    .info1-box{
        margin-top: 1.9rem;
        h2{
            font-size: 2.1rem;
        }
        h5{
            margin: 1.1rem 0;
            span{
                margin-left: 1.1rem;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
        .mbtn-1{
            background-color: $primary;
            color: $mwhite;
            padding: .6rem 1.8rem;
            border-radius: .9rem;
            margin-top: 1.9rem;
        }
    }
}